.member-report-container {
    padding: 20px#7b97a3;
    background-color:#7b97a3;
    margin: 0 auto; /* Centers the container horizontally */
    width: 80%; /* Adjust width as needed */
    height: 50%;
    border: 2px solid black; /* Adds a black border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    border-radius: 8px; /* Optional: adds rounded corners */
}


.report-header {
    text-align: center;
    margin-bottom: 20px;
}

.report-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.report-filters label {
    margin-left: 10px;
    font-weight: bold;
}

.report-filters input {
    margin-left: 700px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 20%;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.report-table th {
    background-color: #f2f2f2;
    color: #333;
}

.report-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.report-actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.report-actions button:hover {
    background-color: #ddd;
}

.family-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #637b8e;
  }
  
  .family-table th, .family-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .family-table th {
    background-color: #f2f2f2;
  }
  